@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {font-family : 'Noto Sans KR', sans-serif; src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); font-style : normal; unicode-range: U+0020-007E;}
@font-face {font-family: 'Roboto', sans-serif; src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); font-style : normal; unicode-range : U+0030-0039;}

*{margin : 0; padding : 0;}
body{ background : rgb(255, 129, 255);}
.wrap{width : 364px; height : 345px; margin : 60px auto;}
.body-wrap{width : 300px; height : 345px; margin : auto; background : url(/img/tamagotchi_base.jpg) no-repeat -85px -30px / auto; position : relative;}
.character-window{width : 134.5px; height : 103.5px; background : rgb(84, 171, 255); border-radius : 16px; position : absolute; bottom : 19%; left : 49%; transform : translateX(-50%); box-sizing : border-box; border : 3px solid #1e1e1e; box-shadow : inset 2px 2px 6px rgb(10, 67, 134)}
.character-window::before{content : ""; display : block; position : absolute; bottom : 6px; right : 8px; width : 26px; height : 8px; border-radius : 50px; backdrop-filter : brightness(130%);}
.character-window::after{content : ""; display : block; position : absolute; bottom : 6px; right : 38px; width : 12px; height : 8px; border-radius : 50px; backdrop-filter : brightness(130%);}

.character{position : absolute; bottom : 22px; left : 50%; transform : translateX(-50%);}
.type-baby{width : 71px; height : 38px; background : url(/img/character/slime-01.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-happy{width : 72px; height : 42px; background : url(/img/character/slime-act-02.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-boring{width : 75px; height : 36px; background : url(/img/character/slime-act-03.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-sick{width : 75px; height : 32px; background : url(/img/character/slime-act-04.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-annoyed{width : 73px; height : 45px; background : url(/img/character/slime-act-05.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-dizzy{width : 68px; height : 38px; background : url(/img/character/slime-act-06.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-smart{width : 82px; height : 50px; background : url(/img/character/slime-act-07.png) no-repeat center bottom / contain; left : 52%;}
[class*="type-baby"].move-effort{width : 67px; height : 42px; background : url(/img/character/slime-act-08.png) no-repeat center bottom / contain; bottom : 20px;}
[class*="type-baby"].move-sad{width : 75px; height : 33px; background : url(/img/character/slime-cdt-01.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-normal{width : 67px; height : 40px; background : url(/img/character/slime-cdt-04.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-excited-01{width : 73px; height : 45px; background : url(/img/character/slime-01.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-excited-02{width : 71px; height : 31px; background : url(/img/character/slime-cdt-02.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-excited-03{width : 72px; height : 58px; background : url(/img/character/slime-cdt-03.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-sleep-01{width : 79px; height : 44px; background : url(/img/character/slime-sleep-01.png) no-repeat center bottom / contain;}
[class*="type-baby"].move-sleep-02{width : 76px; height : 58px; background : url(/img/character/slime-sleep-02.png) no-repeat center bottom / contain;}

.active-item{position : absolute; top : 10px; left : 12px;}
[class*="active-item"].food-bread{background : url(/img/item/food/food-bread.png) no-repeat center center / contain; width : 30px; height : 13px;}
[class*="active-item"].play-blocks{background : url(/img/item/toy/toy-blocks.png) no-repeat center center / contain; width : 30px; height : 23.5px;}
[class*="active-item"].exercise-ball{background : url(/img/item/exercise/exercise-ball.png) no-repeat center center / contain; width : 30px; height : 23px;}
[class*="active-item"].study-book{background : url(/img/item/study/study-book.png) no-repeat center center / contain; width : 30px; height : 21px;}

.condition-pot{position : absolute; top : 10px; right : 5px;}
[class*="condition-pot"]{top : 10px;}
[class*="condition-pot"]::before{display : block; font-size : 16px;}
[class*="condition-pot"][class*="happy"]::before{content:"😊";}
[class*="condition-pot"][class*="boring"]::before{content:"😒";}
[class*="condition-pot"][class*="sick"]::before{content:"🤢";}
[class*="condition-pot"][class*="annoyed"]::before{content:"☹️";}
[class*="condition-pot"][class*="sad"]::before{content:"😥";}
[class*="condition-pot"][class*="normal"]::before{content:"😐";}
[class*="condition-pot"][class*="sleep"]::before{content:"😴";}
[class*="condition-pot"][class*="excited"]::before{content:"🥰";}
[class*="condition-pot"][class*="dizzy"]::before{content:"😵";}